<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">

    <title>1000Sport :: Home</title>

    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <script src="_js/jquery.min.js"></script>
    <script src="_js/popper.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="_js/vue.js"></script>
    <link rel="stylesheet" href="_css/style.css">
    <script src="_js/axios.min.js"></script>
    <script src="_js/httpVueLoader.js"></script>
    <script src="_js/vue-session.js"></script>

</head>

<body class="bg-light">


<div id="interface" class="container-fluid">

    <div class="row">

    <div class="col-md-1 bg-white"></div>
    <nav id="nav" class="navbar col-md-11 col-5 navbar-nav navbar-expand-sm bg-white navbar-dark">
        <ul class="row nav navbar-nav font-weight-bold">
            <a  href="#"><img class="navbar-brand figure-img" width="200px" height="100px" src="_vue/sport/pictures/logo_temp.png"></a>
            <li class="nav-item" v-for="menu in options"><a class="nav-link" href="#" style="color:#005cbf">{{menu.item}}</a> </li>
        </ul>
      </nav>
    </div>

<hr>

    <div class="row">
        <p class="col-md-2 col-1"></p>

     <input class="text-md-left col-md-4 col-sm-5" type="text"  v-model="query" placeholder="Digite um item para pesquisar" required autofocus>
        &nbsp;&nbsp;
    <a v-if="query !== null || query == ''" class="btn btn-primary btn-group-md col-md-1 col-sm-3 text-md-center" :href=queryParam+query>Pesquisar </a>

       <a v-if="logout === true" class="alert-link align-baseline text-md-left col-md-1 col-sm-2" href="register.html">Cadastrar</a>

        <a v-if="login === true" class="alert-link align-baseline text-md-left col-md-2 col-sm-2" href="login.html">Fazer Login</a>
        <a v-if="logout === true" class="alert-link align-baseline text-md-left col-md-2" href="admin.html"> Minha Conta</a>
        <a v-if="logout" @click="logoutSession" class="alert-link align-baseline text-md-left col-md-1" href="index.html" style=color:red;>Sair</a>


    </div>

    <section  id="menu">

        <ul id="foto-camisa">

            <li v-for="i in picShirt">
                <a class="card-link" :href=pathShirt(i.id)>
                <img @mouseover='mouseOver(i,i.id,i.idUser)' @mouseout='mouseOut(i,i.id,i.idUser)' :src=i.source width="200px" height="220px">
                <span>
                    <p><strong style=color:darkorange;>{{i.title}} </strong></p>
                <p class="text-justify font-italic"> <strong> Temporada {{i.season}} à vista R$ {{i.price}} em até 10 x {{i.price / 10}}  </strong> </p>
                </span>
                </a>
            </li>

            <li v-for="i in picBall">
                <a class="card-link" :href=pathBall(i.id)>
                    <img @mouseover='mouseOver(i,i.id,i.idUser)' @mouseout='mouseOut(i,i.id,i.idUser)' :src=i.source width="200px" height="220px">
                    <span>
                    <p><strong style=color:darkorange;>{{i.title}} </strong></p>
                <p class="text-justify font-italic"> <strong> Marca {{i.brand}} à vista R$ {{i.price}} em até 10 x {{i.price / 10}}  </strong> </p>
                </span>
                </a>
            </li>

            <li v-for="i in picShort">
                <a class="card-link" :href=pathShort(i.id)>
                    <img @mouseover='mouseOver(i,i.id,i.idUser)' @mouseout='mouseOut(i,i.id,i.idUser)' :src=i.source width="200px" height="220px">
                    <span>
                    <p><strong style=color:darkorange;>{{i.title}} </strong></p>
                <p class="text-justify font-italic"> <strong> Marca {{i.brand}} à vista R$ {{i.price}} em até 10 x {{i.price / 10}}  </strong> </p>
                </span>
                </a>
            </li>

            <li v-for="i in picBoot">
                <a class="card-link" :href=pathBoot(i.id)>
                    <img @mouseover='mouseOver(i,i.id,i.idUser)' @mouseout='mouseOut(i,i.id,i.idUser)' :src=i.source width="200px" height="220px">
                    <span>
                    <p><strong style=color:darkorange;>{{i.title}} </strong></p>
                <p class="text-justify font-italic"> <strong> Marca {{i.brand}} à vista R$ {{i.price}} em até 10 x {{i.price / 10}}  </strong> </p>
                </span>
                </a>
            </li>

        </ul>

    </section>
</div>

<script>

    let app = new Vue({

        el:"#interface",

        data:{

            picShirt:[],
            picBall: [],
            picShort:[],
            picBoot:[],
            shirts: [],
            balls: [],
            shorts:[],
            boots:[],
            urlShirts: 'http://127.0.0.1:8080/api/shirts',
            urlBalls: 'http://127.0.0.1:8080/api/balls',
            urlShorts: 'http://127.0.0.1:8080/api/shorts',
            urlBoots: 'http://127.0.0.1:8080/api/boots',
            source: '',

            logout: false,
            login: true,
            query: null,
            queryParam: 'search.html?query=',

            options:

                [ {item: "Futebol"},
                    {item: "Handball"},
                    {item: "Futsal"},
                    {item: "Basquete"},
                    {item: "Tênis"},
                    {item: "Acessórios"}]

        },

        created: function () {

            vm = this;

            if(vm.$session.exists()){

                vm.logout = true;
                vm.login = false;
            }

            vm.getShirts();
            vm.getBalls();
            vm.getBoots();
            vm.getShorts();
        },

        methods:
            {

                mouseOver: function (array,id,idUser) {

                    array.source ='_img/' + id + '_' + idUser + '-pic1';
                },

                mouseOut: function(array,id,idUser){

                    array.source ='_img/' + id + '_' + idUser + '-pic0';
                },

                getShirts: function () {

                    vm = this;
                    axios.get(vm.urlShirts,{

                        auth:{
                            username: 'user',
                            password:'password'
                        }

                    }).then(function (r) {

                        if (r.data.length >= 1) {

                            vm.shirts = r.data;

                            for (let i = 0; i < vm.shirts.length; i++) {

                                vm.picShirt.push({
                                    id: vm.shirts[i].id,
                                    idUser: vm.shirts[i].idUser,
                                    title: vm.shirts[i].title,
                                    season: vm.shirts[i].season,
                                    brand: vm.shirts[i].brand,
                                    price: vm.shirts[i].price,
                                    source: '_img/' + vm.shirts[i].id + '_' + vm.shirts[i].idUser + '-pic0'
                                });

                            }

                        }

                    }).catch(function (erro) {
                        console.log(erro)
                    });
                },

                getBalls: function(){

                    vm = this;

                    axios.get(vm.urlBalls,{

                        auth:{
                            username: 'user',
                            password:'password'
                        }

                    }).then(function (r) {

                        if(r.data.length >= 1) {

                            vm.balls = r.data;

                            for (let i =0; i < vm.balls.length; i++) {

                                vm.picBall.push({

                                    id: vm.balls[i].id,
                                    idUser: vm.balls[i].idUser,
                                    title: vm.balls[i].title,
                                    model: vm.balls[i].model,
                                    brand: vm.balls[i].brand,
                                    price: vm.balls[i].price,
                                    year:  vm.balls[i].year,
                                    source:'_img/'+ vm.balls[i].id +'_' +vm.balls[i].idUser +'-pic0'
                                });

                            }

                        }

                        console.log(r);

                    }).catch(function (erro) {

                        console.log(erro)
                    });
                },

                getShorts: function(){

                    vm = this;

                    axios.get(vm.urlShorts,{

                        auth:{
                            username: 'user',
                            password:'password'
                        }

                    }).then(function (r) {

                        if(r.data.length >= 1) {

                            vm.shorts = r.data;

                            for (let i = 0; i < vm.shorts.length; i++) {

                                vm.picShort.push({
                                    id: vm.shorts[i].id,
                                    idUser: vm.shorts[i].idUser,
                                    title: vm.shorts[i].title,
                                    brand: vm.shorts[i].brand,
                                    model: vm.shorts[i].model,
                                    chooseGender: vm.shorts[i].chooseGender,
                                    chooseSize: vm.shorts[i].chooseSize,
                                    price: vm.shorts[i].price,
                                    source: '_img/' + vm.shorts[i].id + '_' + vm.shorts[i].idUser + '-pic0'
                                });
                            }
                        }
                        console.log(r);

                    }).catch(function (erro) {

                        console.log(erro)
                    });
                },

                getBoots: function(){

                    vm = this;

                    axios.get(vm.urlBoots,
                        {

                            auth:{
                                username: 'user',
                                password:'password'
                            }

                    }).then(function (r) {

                        if (r.data.length >= 1) {

                            vm.boots = r.data;

                            for(let i = 0; i < vm.boots.length; i++) {

                                vm.picBoot.push({

                                    id: vm.boots[i].id,
                                    idUser: vm.boots[i].idUser,
                                    title: vm.boots[i].title,
                                    brand: vm.boots[i].brand,
                                    model: vm.boots[i].model,
                                    bootsGender: vm.boots[i].bootsGender,
                                    bootSize: vm.boots[i].bootSize,
                                    price: vm.boots[i].price,
                                    source: '_img/' + vm.boots[i].id + '_' + vm.boots[i].idUser + '-pic0'

                                });
                            }
                        }

                        console.log(r);

                    }).catch(function (erro) {

                        console.log(erro)
                    });
                },

                pathShirt: function (id) {
                    return "info-shirt.html?id="+id;
                },
                pathBall: function (id) {
                    return "info-ball.html?id="+id;
                },
                pathBoot: function (id) {
                    return "info-boot.html?id="+id;
                },
                pathShort: function (id) {
                    return "info-short.html?id="+id;
                },

                logoutSession: function () {

                    this.$session.destroy();
                    this.logout = false;
                    this.login = true;
                }
            }
    });

</script>

</body>

</html>
