<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">

    <title>1000Sport :: Home</title>

    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <script src="_js/jquery.min.js"></script>
    <script src="_js/popper.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="_js/vue.js"></script>
    <link rel="stylesheet" href="_css/style.css">
    <script src="_js/axios.min.js"></script>
    <script src="_js/httpVueLoader.js"></script>

</head>

<body id="corpo" class="bg-light">


<div id="interface">

    <div class="row">

    <div class="col-md-1 bg-white"></div>
    <nav id="nav" class="navbar col-md-11 col-5 navbar-nav navbar-expand-sm bg-white navbar-dark">
        <ul class="row nav navbar-nav font-weight-bold">
            <a  href="#"><img class="navbar-brand figure-img" width="200px" height="100px" src="_vue/sport/pictures/logo_temp.png"></a>
            <li class="nav-item" v-for="menu in options"><a class="nav-link" href="#" style="color:#005cbf">{{menu.item}}</a> </li>
        </ul>

      </nav>
    </div>

<hr>

    <div id="credencial" class="row">
        <p class="col-md-3"></p>
    <input class="text-md-left col-md-3" type="text" placeholder="Digite um item para pesquisar" required autofocus>
        &nbsp;&nbsp;
    <button class="btn btn-primary btn-group-md col-md-2 text-md-center"> Pesquisar </button>

    <a class="alert-link align-baseline text-md-left col-md-1" href="register.html">Cadastrar</a>

    <a class="alert-link align-baseline text-md-left col-md-2" href="login.html">Fazer Login</a>

    </div>

    <section  id="menu">

        <ul id="foto-camisa">

            <li v-for="i in pics">
                <a class="card-link" :href=path(i.id)>
                <img @mouseover='mouseOver(i.pos,i.id,i.idUser)' @mouseout='mouseOut(i.pos,i.id,i.idUser)' :src=i.source width="200px" height="220px">
                <span>
                    <p><strong style=color:darkorange;>{{i.title}} </strong></p>
                <p class="text-justify font-italic"> <strong> Temporada {{i.season}} à vista R$ {{i.price}} em até 10 x {{i.price / 10}}  </strong> </p>
                </span>
                </a>
            </li>

        </ul>

    </section>


    <script>

        let app = new Vue({

            el:"#nav",

            data: {

                options:
                      [ {item: "Futebol"},
                        {item: "Handball"},
                        {item: "Futsal"},
                        {item: "Basquete"},
                        {item: "Tênis"},
                        {item: "Acessórios"}]
            }
        });



        let menu = new Vue({

            el:"#menu",

            data:{

                pics:[],
                items: [],
                url: "http://127.0.0.1:8080/sport/api/shirts",
                source: ''
            },

            created: function () {
                this.get();

            },

            methods:
                {

                    mouseOver: function (i,id, idUser) {

                        this.pics[i].source='_img/' + id + '_' + idUser + '-pic1';
                    },

                    mouseOut: function(i,id, idUser){
                        this.pics[i].source='_img/' + id + '_' + idUser + '-pic0';
                    },

                    get: function () {

                        let vm = this;
                        axios.get(vm.url).then(function (r) {

                            vm.items = r.data.shirt;

                            for (let i = 0; i < vm.items.length; i++) {

                                let obj = {pos:i,
                                    id: vm.items[i].id,
                                    idUser: vm.items[i].idUser,
                                    title: vm.items[i].title,
                                    season:vm.items[i].season,
                                    brand: vm.items[i].brand,
                                    price:vm.items[i].price,
                                    source:'_img/'+ vm.items[i].id +'_' +vm.items[i].idUser +'-pic0'};

                                     vm.pics.push(obj);
                            }
                            console.log(r);

                        }).catch(function (erro) {
                            console.log(erro)
                        });
                    },
                    path: function (id) {
                        return "info.html?id="+id;
                    }
                }
        });

    </script>

</div>

</body>

</html>
