<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title> 1000Sport:: Camisa do Corinthians </title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <script src="_js/jquery.min.js"></script>
    <script src="_js/popper.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="_js/vue.js"></script>
    <!--link rel="stylesheet" href="_css/style.css"-->
    <link rel="stylesheet" href="_css/product.css">
    <script src="_js/axios.min.js"></script>
    <script src="_js/vue-session.js"></script>

</head>

<body class="bg-light">

<div id="app" class="container-fluid">

<div class="row">

    <div class="col-md-1 bg-white"></div>

    <nav id="nav" class="navbar col-md-11 col-5 navbar-nav navbar-expand-sm bg-white navbar-dark">
        <ul class="row nav navbar-nav font-weight-bold">
            <a  href="index.html"><img class="navbar-brand figure-img" width="200px" height="100px" src="_vue/sport/pictures/logo_temp.png"></a>
            <li class="nav-item" v-for="menu in options"><a class="nav-link" href="#" style="color:#005cbf">{{menu.item}}</a> </li>
        </ul>

    </nav>
</div>

<hr>

 <div class="row">

    <p class="col-md-3"></p>

     <input class="text-md-left col-md-3" type="text" placeholder="Digite um item para pesquisar" required autofocus>
     &nbsp;&nbsp;
     <button class="btn btn-primary btn-group-md col-md-2 text-md-center"> Pesquisar </button>

     <a v-if="logout === true" class="alert-link align-baseline text-md-left col-md-1" href="register.html">Cadastrar</a>

     <a v-if="login === true" class="alert-link align-baseline text-md-left col-md-2" href="login.html">Fazer Login</a>
     <a v-if="logout" @click="logoutSession" class="alert-link align-baseline text-md-left col-md-1" href="index.html" style=color:red;>Sair</a>

  </div>


    <div class="row bg-transparent">

   <section id="info" class="col-md-2">

     <ul id="foto" >

        <li v-for="it in items"> <img @click="changePhoto(it.id,it.source)" :src=it.source width="128px" height="150px"> </li>

     </ul>

   </section>


<aside class="col-md-5">
    <ul id="foto-ampliada">
        <li> <img :src=photo  width="400px" height=420px"></li>
    </ul>
</aside>

       <aside id="dados" class="col-md-5 font-weight-bold">

           <!--h2 class="jumbotron-fluid">Descrição</h2-->

           <label class="badge badge-info"> Título: </label> <strong> {{dataInfo.title}}</strong> <br>
           <label class="badge badge-info"> Marca: </label> <strong> {{dataInfo.brand}} </strong><br>
           <label class="badge badge-info"> Versão: </label> <strong> {{dataInfo.version}}</strong> <br>
           <label class="badge badge-info"> Clube: </label> <strong> {{dataInfo.club}} </strong><br>
           <label class="badge badge-info"> Temporada: </label> <strong>{{dataInfo.season}}</strong><br>
           <label class="badge badge-info"> Ocasião: </label> <strong>{{dataInfo.occasion}}</strong><br>
           <label class="badge badge-info"> Valor: R$ </label> <strong> {{dataInfo.price}} </strong> <br>

           <label class="badge badge-warning col-md-2">quantidade:</label>
           <input class="col-md-2" type="number" min="1" max="50"><br>
           <button class="btn btn-primary">Comprar</button>


       </aside>

         </div>

     </div>
</div>

<script>

    let app = new Vue({

        el:"#app",

        data:{

            url:'http://127.0.0.1:8080/sport/api/shirts/',
            items:[],
            dataInfo: {},
            id: null,
            photo: null,
            logout: false,
            login: true,

            options:
                [
                    {item: "Futebol"},
                    {item: "Handball"},
                    {item: "Futsal"},
                    {item: "Basquete"},
                    {item: "Tênis"},
                    {item: "Acessórios"}]
        },

        created: function(){

            let currentUrl = window.location.href;
            let id = new URL(currentUrl).searchParams.get("id");

            vm = this;

            if(vm.$session.exists()){

                vm.logout = true;
                vm.login = false;
            }

            axios.get(this.url + id).then(function (r){

                vm.dataInfo = r.data;
                vm.id = id;
                let idUser = vm.dataInfo.idUser;

                vm.photo = '_img/'+id+'_'+vm.dataInfo.idUser+'-pic0';

                let obj  = {id: 0, source:'_img/' + id +'_' + idUser + '-pic0'};
                let obj1 = {id: 1, source:'_img/' + id +'_' + idUser + '-pic1'};
                let obj2 = {id: 2, source:'_img/'+id+'_'+idUser+'-pic2'};
                let obj3 = {id: 3, source:'_img/'+id+'_'+idUser+'-pic3'};

                vm.items.push(obj,obj1,obj2,obj3);

                let img = new Image();

                img.src = '_img/'+id+'_'+idUser+'-pic2';

                img.onerror= function(){

                    vm.items[2].source = '_img/no-pic_standard.png';

;                };

                 img = new Image();

                img.src = '_img/'+id+'_'+idUser+'-pic3';

                img.onerror = function(){

                    vm.items[3].source = '_img/no-pic_standard.png';
                };

                console.log(r);

            }).catch(function (erro) {
                console.log(erro);
            });

        },

        methods:{

            changePhoto(pos,source){

                this.photo = this.items[pos].source;

            },

            logoutSession: function () {

                this.$session.destroy();
                this.logout = false;
                this.login = true;
            }
        }

    });

</script>

</body>
</html>