<!DOCTYPE html>
<html lang="pt-br">
<head>

    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <script src="_js/jquery.min.js"></script>
    <script src="_js/popper.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="_js/vue.js"></script>
    <link rel="stylesheet" href="_css/style.css">
    <script src="_js/axios.min.js"></script>

</head>

<body>

<div id="app" class="container-fluid bg-white font-weight-light">

   <nav class="navbar navbar-expand-sm bg-white navbar-dark">

       <a class="navbar-brand" href="index.html"><img src="_img/logo_temp.png" width="220px" height="120px"></a>
       <h2 class="align-content-center" style=color:darkorange;> Cadastro de empresa na 1000Sport</h2>

   </nav>



    <form class="row" method="post"  action="index.html">

        <fieldset class="form-group col-md-3">
            <legend> Dados da Empresa </legend>

            <label class="badge badge-primary"> Nome Fantasia: </label>
            <input type="text" v-model="nameFantasy" class="form-control form-text"> <br>
            <label class="badge badge-primary"> Razão Social: </label>
            <input type="text" v-model="societyReason" class="form-control form-text">
            <label class="badge badge-primary"> CNPJ: </label>
            <input type="text" v-model="cnpj" class="form-control form-text"><br>
            <p style=color:red;>{{msgCnpj}}</p>

            <p class="text-justify text-muted"> Após seus dados serem validados, sua sessão será iniciada na homepage do site!</p>

        </fieldset>

        <fieldset class="form-group col-md-3">

            <legend> Dados do proprietário</legend>

            <label class="badge badge-primary"> Nome: </label>
            <input type="text" v-model="name" class="form-control form-text">
            <label class="badge badge-primary"> Sobrenome:</label>
            <input type="text" v-model="surname" class="form-control form-text" >
            <label class="badge badge-primary"> CPF: </label>
            <input type="text" v-model="cpf" class="form-control form-text">
            <p style=color:red;>{{msgCpf}}</p>

        </fieldset>



        <fieldset class="form-group col-md-3">

            <legend> Onde sua empresa está localizada?</legend>

            <label class="badge badge-primary"> Cidade: </label>
            <input type="text" v-model="city" class="form-control form-text">
            <label class="badge badge-primary"> Estado:</label>

            <select class="custom-select" v-model="state">
                <option v-for="i in states">{{i.name}} </option>
            </select>

            <label class="badge badge-primary"> Rua: </label>
            <input type="text" v-model="street" class="form-control form-text">
            <label class="badge badge-primary"> Bairro: </label>
            <input type="text" v-model="neighborhood" class="form-control form-text">
            <label class="badge badge-primary"> Cep:</label>
            <input type="text" v-model="cep" class="form-control form-text">
            <p style=color:red;>{{msgCep}}</p>
            <label class="badge badge-primary"> Número: </label>
            <input type="number" v-model="number" class="form-control form-text">

        </fieldset>


        <fieldset class="form-group col-md-3">

            <legend> Dados de Acesso</legend>


            <label class="badge badge-primary"> Nome de usuário: </label>
            <input type="text" v-model="nameUser" class="form-control form-text">
            <label class="badge badge-primary"> Email: </label>
            <input type="email" v-model="email" class="form-control form-text">
            <label class="badge badge-primary"> Senha:</label>
            <input type="password" v-model="password" class="form-control form-text"><br>

        </fieldset>

        <button type="submit" class="form-control btn btn-success" @click.prevent="postUser(event)" v-show="checkFields()"> Cadastrar</button>
        <!--button type="submit" class="form-control btn btn-success" disabled v-show="checkFields() == false"> Cadastrar</button-->

        <button type="reset" class="form-control  btn btn-danger" v-show="checkClear()">Limpar</button>
        <button type="reset" class="form-control  btn btn-danger disabled" disabled v-show="checkClear() == false">Limpar</button>


    </form>

</div>


<script type="application/javascript">

    var app = new Vue({

        el: "#app",
        data:{

            url: 'http://127.0.0.1:3000/users',
            arrayUsers: [],
            nextId: null,
            id: null,
            nameFantasy: null,
            societyReason: null,
            cnpj: null,

            name: null,
            surname: null,
            cpf: null,

            city: null,
            state: null,
            street: null,
            neighborhood: null,
            cep:null,
            number:null,

            nameUser:null,
            email: null,
            password: null,

            msgCep: '', //msg de erro para cep,cnpj e cpf
            msgCnpj: '',
            msgCpf:'',

            states:[
                {name:'Acre'},{name: 'Alagoas'},{name:'Amapá'},{name:'Amazonas'},{name:'Bahia'},{name:'Ceará'},{name:'Distrito Federal'},
                {name:'Espírito Santo'},{name:'Goiás'},{name:'Maranhão'},{name: 'Mato Grosso'},{name: 'Mato Grosso do Sul'},
                {name: 'Minas Gerais'},{name: 'Pará'},{name: 'Paraíba'},{name: 'Paraná'},{name: 'Pernambuco'},{name: 'Piauí'},
                {name: 'Rio de Janeiro'}, {name:'Rio Grande do Norte'},{name:'Rio Grande do Sul'},{name: 'Rondônia'},{name: 'Roraima'},
                {name: 'Santa Catarina'}, {name: 'São Paulo'},{name: 'Sergipe' },{name: 'Tocantins'}
            ]
        },

        created: function() {
            this.getUsers();
            this.checkClear();

        },

        methods:{

            checkClear: function (){

                return !!(this.nameFantasy || this.societyReason || this.cnpj || this.name || this.surname ||
                          this.cpf || this.city || this.street || this.neighborhood || this.cep || this.number ||
                          this.nameUser || this.email || this.password);

            },

            checkFields: function (){
                    return true;
                //return !!(this.nameFantasy && this.societyReason && this.cnpj && this.name &&
                          // this.surname && this.cpf && this.city && this.street && this.neighborhood &&
                          // this.cep && this.number && this.nameUser && this.email && this.password);

            },


            cpfValidator: function(cpf){

                let regex = new RegExp("[0-9][0-9][0-9].[0-9][0-9][0-9].[0-9][0-9][0-9]-[0-9][0-9]");

                if(!regex.exec(cpf))
                    this.msgCpf = 'O Cpf passado é inválido!';
                else this.msgCpf = '';

                return regex.exec(cpf);

            },

            cnpjValidator: function(cnpj){

                let regex = new RegExp("[0-9][0-9].[0-9][0-9][0-9].[0-9][0-9][0-9]/[0-9][0-9][0-9][0-9]-[0-9][0-9]");

                if(!regex.exec(cnpj))
                    this.msgCnpj = 'O Cnpj passado é inválido!';
                else this.msgCnpj = '';

                return regex.exec(cnpj);

            },

            cepValidador: function(cep){

                let regex = new RegExp("[0-9][0-9][0-9][0-9][0-9]-[0-9][0-9][0-9]");

                if(!regex.exec(cep))
                    this.msgCep = 'O Cep informado é inválido!';
                else this.msgCep = '';

                return regex.exec(cep);

            },

            postUser: function (event) {

                let cpf =  this.cpfValidator(this.cpf);
                let cnpj = this.cnpjValidator(this.cnpj);
                let cep =  this.cepValidador(this.cep);

                if (!cpf || !cnpj || !cep)
                    event.preventDefault();

                    //alert('entrou aqui');
               /* axios.post(this.url, {

                    id: this.nextId,
                    nameFantasy: this.nameFantasy,
                    societyReason: this.societyReason,
                    cnpj: this.cnpj,
                    name: this.name,
                    surname: this.surname,
                    cpf: this.cpf,
                    city: this.city,
                    state: this.state,
                    street: this.street,
                    neighborhood: this.neighborhood,
                    cep: this.cep,
                    number: this.number,
                    nameUser: this.nameUser,
                    email: this.email,
                    password: this.password,

                }).then(function (r) {
                    console.log(r);
                }).catch(function (erro) {
                    console.log(erro);
                }); */

                },

            getUsers: function () {

                vm = this;
                axios.get(this.url).then(function (r) {

                    vm.arrayUsers = r.data;
                    console.log(r);
                    vm.nextId = vm.arrayUsers.length + 1;

                }).catch(function (erro) {
                    console.log(erro);
                })

            }

        }

     });

</script>


</body>
</html>
