
body#corpo{

    width: 800px;
    margin-left: 200px;
    background-color: #dddddd;
}

header#cabecalho{

    width: 800px;
    float: left;
    margin-left: 200px;
    margin-top: -5px;
    background-color: #dddddd;
}

section#menu{
    width: 800px;
}

header#cabecalho li{
    list-style: none;
}

header#cabecalho input{
    width: 300px;

}

header#cabecalho button{
    margin-left: 25px;
}

header#cabecalho a{
    float: right;
}

div section#secao ul{
    list-style: none;
}

section#menu ul{

    list-style: none;
    padding: 0px;
    margin-top: 10px;
    margin-left: 80px;

}

section#menu span{

  height: 20px;

}


ul#foto-camisa li{
    float: left;
    width: 200px;
    height: 270px;
    margin: 15px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    box-shadow: 1px 1px 3px rgba(0,0,0,.4);
    transition: all .4s ease-in;
}






