
section#menu ul{

    list-style: none;
    padding: 0px;
    margin-top: 10px;
    margin-left: 80px;

}

section#menu span{

  height: 20px;

}

ul#foto-camisa li{

    float: left;
    width: 200px;
    height: 290px;
    margin: 15px;
    border: 1px solid #ffffff;
   /* background-color: #ffffff; */
    box-shadow: 0px 0px 1px rgba(0,0,0,.2);
    transition: all .4s ease-in;

}






