
section#menu ul{

    list-style: none;
    padding: 0px;
    margin-top: 10px;
    margin-left: 90px;

}

section#menu span{

  height: 20px;

}

/*foto do index*/
ul#foto-camisa li{

    float: left;
    width: 204px;
    height: 310px;
    margin: 15px;
    /*border: 3px solid #dddddd;*/
    /*background-color: #ffffff;*/
    /*box-shadow: 0px 0px 1px rgba(0,0,0,0); */
    transition: all .4s ease-in;
}

/*foto do index*/
ul#foto-camisa li:hover{

    transform: scale(1.15);
    transition: all .9s ease-in;

}





