<!DOCTYPE html>


<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>1000Sport :: Login</title>

    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <script src="../_js/jquery.min.js"></script>
    <script src="../_js/popper.min.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>
    <script src="../_js/vue.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.25/vue.min.js"></script>
</head>

<body class="bg-white">


<div class="row text-center">
    <div class="col-sm-4"></div>

    <div>

    <form action="index.html" class="form-signin" style=top:140px;>

        <img class="mb-4" src="../_img/logo_temp.png" alt="" width="256" height="100">
        <input id="email" type="text" placeholder="example@provider.com" class="form-control" required autofocus v-model="email"><br>
        <input id="pswd" type="password" placeholder="Senha" class="form-control" required v-model="password"> <br> <br>

        <button id="btn" type="button" class="btn btn-lg btn-primary btn-block" v-bind:disabled="!(this.email != '' && this.password != '')">Login</button><br><br>

        <a class="text-danger text-md-center">Esqueceu sua senha?</a> <br><br>
        <a class="text-info text-md-center">Não é parceiro? clique cadastre sua Empresa!</a>

        <p class="mt-4 mb-3 text-muted text-center"> Copyright &copy; 2019 - 1000Sport Ltda.</p>

    </form>
    </div>
    <div class="col-sm-4"></div>
</div>

<script>
	new Vue({
		el: 'body',
		data: {
			email: '',
			password: ''
		}
	})
</script>

</body>

</html>