<!DOCTYPE html>


<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>1000Sport :: Login</title>

    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <script src="../_js/jquery.min.js"></script>
    <script src="../_js/popper.min.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>
    <script src="../_js/vue.js"></script>

</head>

<body class="bg-white">


<div class="row text-center">

    <div class="col-md-4"></div>

    <div class="col-md-4">

     <form id="app" class="form-signin"  @submit="validaCampo" action="index.html"  style=top:140px;>

        <img class="mb-4" src="../_img/logo_temp.png" alt="" width="256" height="100">

        <input id="email" v-model="email" type="text" placeholder="example@provider.com" class="form-control" autofocus><br>

        <input id="pswd" type="password" v-model="senha" placeholder="Senha" class="form-control" > <br> <br>

        <button id="btn" type="submit" class="btn btn-lg btn-primary btn-block"> Login</button><br><br>

        <p v-model="log" style=color:darkred>{{log}}</p>

        <a class="text-danger text-md-center">Esqueceu sua senha?</a> <br><br>
        <a class="text-info text-md-center">Não é parceiro? clique cadastre sua Empresa!</a>

        <p class="mt-4 mb-3 text-muted text-center"> Copyright &copy; 2019 - 1000Sport Ltda.</p>

    </form>

    </div>

    <div class="col-md-4"></div>

</div>


<script>

    var app = new Vue({


        el: "#app",
        data:{
            log: '',
            senha:'',
            email:''
        },
        methods: {

            validaCampo: function (event) {

                if(this.email && this.senha) return true;

                if (!this.senha  && !this.email) {
                    this.log = 'preencha os dois campos!'

                }else

                if (!this.email) {
                    this.log = 'informe seu email!';
                }else

                if (!this.senha) {
                    this.log = 'Informe sua senha!';
                }
                event.preventDefault()
            }

        }
    });

</script>



</body>

</html>